/* Write your CSS here */

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  padding: 30px;
  flex-wrap: wrap;
  width: 100%;
}
.heading {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 600;
  color: #2d3a35;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 72px;
  }
}
.span-heading {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700;
  color: #c20a72;
}
@media screen and (min-width: 768px) {
  .span-heading {
    font-size: 72px;
  }
}
.description {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #2d3a35;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 40px;
  }
}
.button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 6px;
  border-width: 0px;
  border-style: solid;
  height: 35px;
  width: 80px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .button {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 6px;
    border-width: 0px;
    border-style: solid;
    height: 50px;
    width: 140px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
  }
}
